# Important links
---
- Assignment dataset link: http://archive.ics.uci.edu/ml/datasets/wholesale+customers#
- Assignment requierement: https://github.com/Make-School-Courses/DS-2.1-Machine-Learning/blob/master/Assignments/Home_Work_PCA_Kmeans.ipynb

TASK: Read in wholesale_customers_data.csv from the datasets folder and store in a dataframe. 
Store the Channel column in a separate variable, and then drop the Channel and Region columns from 
the dataframe. Scale the data and use PCA to engineer new features (Principal Components). Print out 
the explained variance for each principal component.

# Importing dependicies

In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv('Wholesale customers data.csv') # reading the dataset
df.head(10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
5,2,3,9413,8259,5126,666,1795,1451
6,2,3,12126,3199,6975,480,3140,545
7,2,3,7579,4956,9426,1669,3321,2566
8,1,3,5963,3648,6192,425,1716,750
9,2,3,6006,11093,18881,1159,7425,2098

### Store the channel column as seperate column(target)

In [9]:
CHANNEL = df["Channel"]
CHANNEL.head(10)

0    2
1    2
2    2
3    1
4    2
5    2
6    2
7    2
8    1
9    2
Name: Channel, dtype: int64

### Drop the Channel and Region columns from the dataframe!!!

In [10]:
df = df.drop(columns=["Channel", "Region"])

In [12]:
df.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  12669  9656     7561     214              2674        1338
1   7057  9810     9568    1762              3293        1776
2   6353  8808     7684    2405              3516        7844
3  13265  1196     4221    6404               507        1788
4  22615  5410     7198    3915              1777        5185

### Scale the data and transform

In [13]:
scaler = StandardScaler(copy = True, with_mean=True, with_std=True)
scaler.fit(df)
scaled_df = scaler.transform(df)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

### Use PCA to engineer new features

In [15]:
pca = PCA() # initialize the model
pca.fit(scaled_df) # fit the model with scaled data
pca_transformed_df = pca.transform(scaled_df) # transform the scaled data

### Explained variance for each principal component.

In [16]:
print(pca.explained_variance_ratio_) #

[0.44082893 0.283764   0.12334413 0.09395504 0.04761272 0.01049519]

In [17]:
print(pca.explained_variance_)

[2.65099857 1.70646229 0.74175057 0.56501435 0.28632709 0.06311455]