In [25]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

data = pd.read_csv('Advertising.csv')
data.head(10)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [26]:
# create X and y
feature_cols = ['TV', 'radio', 'newspaper']
X = data[feature_cols]
y = data.sales

# follow the usual sklearn pattern: import, instantiate, fit

lm = LinearRegression()
lm.fit(X, y)

# print intercept and coefficients
print(lm.intercept_)
print(lm.coef_)

print(lm.predict([[100, 25, 25]]))

2.9388893694594067
[ 0.04576465  0.18853002 -0.00103749]
[12.20266701]

In [7]:
# w sub 1 is weight
# To train our Linear Regression model
# predicted_sales = w_television + w_radio + w_newspaper + C

In [27]:
data.tail()

     Unnamed: 0     TV  radio  newspaper  sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [31]:
feature_cols = ['TV', 'radio', 'newspaper']
X = data[feature_cols][:150]
y = data.sales[:150]

# follow the usual sklearn pattern: import, instantiate, fit
print("Generating a linear regression on the top 150 companies (first one)")
lm = LinearRegression()
lm.fit(X, y)

# print intercept and coefficients
print("Printing the coefficient and y intercept of our first 150 sales")
print(lm.intercept_)
print(lm.coef_)

print("Predicting the sales of the bottom 50 companies (last ones)")
print(lm.predict(data[feature_cols][:-50]))

Generating a linear regression on the top 150 companies (first one)
Printing the coefficient and y intercept of our first 150 sales
3.029766796293684
[ 0.04700012  0.17993257 -0.00140273]
Predicting the sales of the bottom 50 companies (last ones)
[20.54887629 12.12935888 11.99986446 17.49944016 13.3887405  12.13216558
 11.60109776 12.18958782  3.81042349 12.85847736  7.14613745 17.43346317
 10.37156277  8.96966628 18.477747   20.72216916 12.6419954  23.30265766
  9.94512274 14.22648061 18.20381911 15.07228699  6.44152069 16.76400286
  8.1993546  15.98850884 15.00043373 17.28724677 19.56744655  9.16966484
 21.82759541 11.4127615   7.82599525 19.11122907  7.76920358 17.41850177
 23.44813157 15.36523981  9.81043565 20.48436445 16.51546091 17.30425
 21.8106091  14.22849291  8.77299852 15.26378443  8.97693237 21.74634654
 16.48113213  8.22766528 12.92964702  9.47088161 20.64823258 19.84253292
 20.53645271 21.18259554  8.37089976 12.86260303 21.80916442 18.22765735
  5.87411983 22.91728924 17.02755557 13.17090019 16.85205749  7.94488548
  8.93352579 12.17159781 19.12031074 21.08027818 17.83914144 10.71894901
 10.20007209 10.09329233 17.46755769 11.56171783  4.58112561 13.80144063
  8.65036563  9.83485829 11.39349461 14.98635808 10.17591814 14.20163707
 20.75398043 15.32878957 11.54157787 15.44928965 11.66519728 16.71905631
 10.21050699  4.59757887 19.20667263 21.28821795 10.58134581 16.31655093
 12.93847823 15.46781271 24.18502916 16.82298568 14.18644726 23.35061869
 17.98650068 14.9308205  20.3894479  17.77719329  6.14236689  7.30001394
  3.68153142 19.86606838 15.03858638 21.19458991 14.05528278 16.57259351
 15.07762616 12.7831917  12.10930919  6.74376151 15.46609719  6.7892093
 14.42827028  7.74720808 13.96774904 15.02375455 19.52403341  9.21505074
 10.32476645  6.78627121 22.19610031  7.92970696 10.17579292 15.95568535
  8.315788   19.32487087 11.61744915 13.74478017 11.23729471 21.01000757
  9.68226949 19.61674407  9.520334   18.39725628 19.31389086  8.9233409
 10.159614    9.95313081 15.61579941 23.2147507  12.05036142  9.74403616]

### Vincenzo's code for predicting the lower 50 company sales

In [23]:

# print("Now in the sales section!")
# print("Get CSV and create both the x and y columns")
# dataframe = pd.read_csv("./Advertising.csv")
# feature_cols = ["TV", "radio", "newspaper"]
# X = dataframe[feature_cols][:150]
# Y = dataframe.sales[:150]

# print("Generating a linear regression on the top 150 companies (first one)")
# sales_regression = LinearRegression()
# sales_regression.fit(X, Y)

# print("Printing the coefficient and y intercept of our first 150 sales")
# print(sales_regression.coef_)
# print(sales_regression.intercept_)

# print("Predicting the sales of the bottom 50 companies (last ones)")
# print(sales_regression.predict(dataframe[feature_cols][:-50]))

In [32]:
# train part and 
# evaluate our model based on two matrix mean_squeare and R_squared for test part