In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

data = pd.read_csv('Advertising.csv')
data.head(10)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [2]:
# create X and y
feature_cols = ['TV', 'radio', 'newspaper']
X = data[feature_cols]
y = data.sales

# follow the usual sklearn pattern: import, instantiate, fit

lm = LinearRegression()
lm.fit(X, y)

# print intercept and coefficients
print(lm.intercept_)
print(lm.coef_)

print(lm.predict([[100, 25, 25]]))

2.9388893694594067
[ 0.04576465  0.18853002 -0.00103749]
[12.20266701]

In [3]:
# w sub 1 is weight
# To train our Linear Regression model
# predicted_sales = w_television + w_radio + w_newspaper + C

In [4]:
data.tail()

     Unnamed: 0     TV  radio  newspaper  sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [5]:
feature_cols = ['TV', 'radio', 'newspaper']
X = data[feature_cols][:150]
y = data.sales[:150]

# follow the usual sklearn pattern: import, instantiate, fit
print("Generating a linear regression on the top 150 companies (first one)")
lm = LinearRegression()
lm.fit(X, y)

# print intercept and coefficients
print("Printing the coefficient and y intercept of our first 150 sales")
print(lm.intercept_)
print(lm.coef_)

print("Predicting the sales of the bottom 50 companies (last ones)")
print(lm.predict(data[feature_cols][-50:]))

print()

Generating a linear regression on the top 150 companies (first one)
Printing the coefficient and y intercept of our first 150 sales
3.029766796293684
[ 0.04700012  0.17993257 -0.00140273]
Predicting the sales of the bottom 50 companies (last ones)
[18.67186188 10.15990172 16.48950045 18.17132726 15.63964047  5.30168953
 15.19930681 10.27021058 10.15577653 12.48190724 14.35100299 13.43010832
 15.10545883 17.32542469 11.17561481 14.54411372 10.60623457 13.6578278
 17.31920373 18.29020846  7.44118029 14.4553876   7.54376735 12.20415315
 14.07598825 24.7841683  20.11008458 12.38328494 16.41529992 12.58762415
 10.84616747 14.23249384  6.65512798 24.18338541 18.74887883 20.75225663
  9.92682913 17.15002463 18.96767352  6.05302918 12.27336433  8.51313117
  4.53156602 18.42150484 16.46286778  5.47156415  8.32748549 13.01318332
 23.82330766 15.4737108 ]

### Vincenzo's code for predicting the lower 50 company sales

In [6]:

# print("Now in the sales section!")
# print("Get CSV and create both the x and y columns")
# dataframe = pd.read_csv("./Advertising.csv")
# feature_cols = ["TV", "radio", "newspaper"]
# X = dataframe[feature_cols][:150]
# Y = dataframe.sales[:150]

# print("Generating a linear regression on the top 150 companies (first one)")
# sales_regression = LinearRegression()
# sales_regression.fit(X, Y)

# print("Printing the coefficient and y intercept of our first 150 sales")
# print(sales_regression.coef_)
# print(sales_regression.intercept_)

# print("Predicting the sales of the bottom 50 companies (last ones)")
# print(sales_regression.predict(dataframe[feature_cols][:-50]))

In [7]:
# train part and 
# evaluate our model based on two matrix mean_squeare and R_squared for test part