In [25]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

data = pd.read_csv('Advertising.csv')
data.head(10)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [26]:
# create X and y
feature_cols = ['TV', 'radio', 'newspaper']
X = data[feature_cols]
y = data.sales

# follow the usual sklearn pattern: import, instantiate, fit

lm = LinearRegression()
lm.fit(X, y)

# print intercept and coefficients
print(lm.intercept_)
print(lm.coef_)

print(lm.predict([[100, 25, 25]]))

2.9388893694594067
[ 0.04576465  0.18853002 -0.00103749]
[12.20266701]

In [7]:
# w sub 1 is weight
# To train our Linear Regression model
# predicted_sales = w_television + w_radio + w_newspaper + C

In [27]:
data.tail()

     Unnamed: 0     TV  radio  newspaper  sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [30]:
feature_cols = ['TV', 'radio', 'newspaper']
X = data[feature_cols][:150]
y = data.sales[:150]

# follow the usual sklearn pattern: import, instantiate, fit
print("Generating a linear regression on the top 150 companies (first one)")
lm = LinearRegression()
lm.fit(X, y)

# print intercept and coefficients
print("Printing the coefficient and y intercept of our first 150 sales")
print(lm.intercept_)
print(lm.coef_)

print("Predicting the sales of the bottom 50 companies (last ones)")
print(lm.predict(data[feature_cols][:-50]))

Generating a linear regression on the top 150 companies (first one)
Printing the coefficient and y intercept of our first 150 sales
[5.68434189e-14 1.06581410e-14 2.13162821e-14]
[[ 1.00000000e+00  2.75663272e-17 -8.01847575e-18]
 [ 3.07178371e-18  1.00000000e+00 -5.96194680e-17]
 [-4.68116123e-18 -2.67438541e-16  1.00000000e+00]]
Predicting the sales of the bottom 50 companies (last ones)
[[2.3010000e+02 3.7800000e+01 6.9200000e+01]
 [4.4500000e+01 3.9300000e+01 4.5100000e+01]
 [1.7200000e+01 4.5900000e+01 6.9300000e+01]
 [1.5150000e+02 4.1300000e+01 5.8500000e+01]
 [1.8080000e+02 1.0800000e+01 5.8400000e+01]
 [8.7000000e+00 4.8900000e+01 7.5000000e+01]
 [5.7500000e+01 3.2800000e+01 2.3500000e+01]
 [1.2020000e+02 1.9600000e+01 1.1600000e+01]
 [8.6000000e+00 2.1000000e+00 1.0000000e+00]
 [1.9980000e+02 2.6000000e+00 2.1200000e+01]
 [6.6100000e+01 5.8000000e+00 2.4200000e+01]
 [2.1470000e+02 2.4000000e+01 4.0000000e+00]
 [2.3800000e+01 3.5100000e+01 6.5900000e+01]
 [9.7500000e+01 7.6000000e+00 7.2000000e+00]
 [2.0410000e+02 3.2900000e+01 4.6000000e+01]
 [1.9540000e+02 4.7700000e+01 5.2900000e+01]
 [6.7800000e+01 3.6600000e+01 1.1400000e+02]
 [2.8140000e+02 3.9600000e+01 5.5800000e+01]
 [6.9200000e+01 2.0500000e+01 1.8300000e+01]
 [1.4730000e+02 2.3900000e+01 1.9100000e+01]
 [2.1840000e+02 2.7700000e+01 5.3400000e+01]
 [2.3740000e+02 5.1000000e+00 2.3500000e+01]
 [1.3200000e+01 1.5900000e+01 4.9600000e+01]
 [2.2830000e+02 1.6900000e+01 2.6200000e+01]
 [6.2300000e+01 1.2600000e+01 1.8300000e+01]
 [2.6290000e+02 3.5000000e+00 1.9500000e+01]
 [1.4290000e+02 2.9300000e+01 1.2600000e+01]
 [2.4010000e+02 1.6700000e+01 2.2900000e+01]
 [2.4880000e+02 2.7100000e+01 2.2900000e+01]
 [7.0600000e+01 1.6000000e+01 4.0800000e+01]
 [2.9290000e+02 2.8300000e+01 4.3200000e+01]
 [1.1290000e+02 1.7400000e+01 3.8600000e+01]
 [9.7200000e+01 1.5000000e+00 3.0000000e+01]
 [2.6560000e+02 2.0000000e+01 3.0000000e-01]
 [9.5700000e+01 1.4000000e+00 7.4000000e+00]
 [2.9070000e+02 4.1000000e+00 8.5000000e+00]
 [2.6690000e+02 4.3800000e+01 5.0000000e+00]
 [7.4700000e+01 4.9400000e+01 4.5700000e+01]
 [4.3100000e+01 2.6700000e+01 3.5100000e+01]
 [2.2800000e+02 3.7700000e+01 3.2000000e+01]
 [2.0250000e+02 2.2300000e+01 3.1600000e+01]
 [1.7700000e+02 3.3400000e+01 3.8700000e+01]
 [2.9360000e+02 2.7700000e+01 1.8000000e+00]
 [2.0690000e+02 8.4000000e+00 2.6400000e+01]
 [2.5100000e+01 2.5700000e+01 4.3300000e+01]
 [1.7510000e+02 2.2500000e+01 3.1500000e+01]
 [8.9700000e+01 9.9000000e+00 3.5700000e+01]
 [2.3990000e+02 4.1500000e+01 1.8500000e+01]
 [2.2720000e+02 1.5800000e+01 4.9900000e+01]
 [6.6900000e+01 1.1700000e+01 3.6800000e+01]
 [1.9980000e+02 3.1000000e+00 3.4600000e+01]
 [1.0040000e+02 9.6000000e+00 3.6000000e+00]
 [2.1640000e+02 4.1700000e+01 3.9600000e+01]
 [1.8260000e+02 4.6200000e+01 5.8700000e+01]
 [2.6270000e+02 2.8800000e+01 1.5900000e+01]
 [1.9890000e+02 4.9400000e+01 6.0000000e+01]
 [7.3000000e+00 2.8100000e+01 4.1400000e+01]
 [1.3620000e+02 1.9200000e+01 1.6600000e+01]
 [2.1080000e+02 4.9600000e+01 3.7700000e+01]
 [2.1070000e+02 2.9500000e+01 9.3000000e+00]
 [5.3500000e+01 2.0000000e+00 2.1400000e+01]
 [2.6130000e+02 4.2700000e+01 5.4700000e+01]
 [2.3930000e+02 1.5500000e+01 2.7300000e+01]
 [1.0270000e+02 2.9600000e+01 8.4000000e+00]
 [1.3110000e+02 4.2800000e+01 2.8900000e+01]
 [6.9000000e+01 9.3000000e+00 9.0000000e-01]
 [3.1500000e+01 2.4600000e+01 2.2000000e+00]
 [1.3930000e+02 1.4500000e+01 1.0200000e+01]
 [2.3740000e+02 2.7500000e+01 1.1000000e+01]
 [2.1680000e+02 4.3900000e+01 2.7200000e+01]
 [1.9910000e+02 3.0600000e+01 3.8700000e+01]
 [1.0980000e+02 1.4300000e+01 3.1700000e+01]
 [2.6800000e+01 3.3000000e+01 1.9300000e+01]
 [1.2940000e+02 5.7000000e+00 3.1300000e+01]
 [2.1340000e+02 2.4600000e+01 1.3100000e+01]
 [1.6900000e+01 4.3700000e+01 8.9400000e+01]
 [2.7500000e+01 1.6000000e+00 2.0700000e+01]
 [1.2050000e+02 2.8500000e+01 1.4200000e+01]
 [5.4000000e+00 2.9900000e+01 9.4000000e+00]
 [1.1600000e+02 7.7000000e+00 2.3100000e+01]
 [7.6400000e+01 2.6700000e+01 2.2300000e+01]
 [2.3980000e+02 4.1000000e+00 3.6900000e+01]
 [7.5300000e+01 2.0300000e+01 3.2500000e+01]
 [6.8400000e+01 4.4500000e+01 3.5600000e+01]
 [2.1350000e+02 4.3000000e+01 3.3800000e+01]
 [1.9320000e+02 1.8400000e+01 6.5700000e+01]
 [7.6300000e+01 2.7500000e+01 1.6000000e+01]
 [1.1070000e+02 4.0600000e+01 6.3200000e+01]
 [8.8300000e+01 2.5500000e+01 7.3400000e+01]
 [1.0980000e+02 4.7800000e+01 5.1400000e+01]
 [1.3430000e+02 4.9000000e+00 9.3000000e+00]
 [2.8600000e+01 1.5000000e+00 3.3000000e+01]
 [2.1770000e+02 3.3500000e+01 5.9000000e+01]
 [2.5090000e+02 3.6500000e+01 7.2300000e+01]
 [1.0740000e+02 1.4000000e+01 1.0900000e+01]
 [1.6330000e+02 3.1600000e+01 5.2900000e+01]
 [1.9760000e+02 3.5000000e+00 5.9000000e+00]
 [1.8490000e+02 2.1000000e+01 2.2000000e+01]
 [2.8970000e+02 4.2300000e+01 5.1200000e+01]
 [1.3520000e+02 4.1700000e+01 4.5900000e+01]
 [2.2240000e+02 4.3000000e+00 4.9800000e+01]
 [2.9640000e+02 3.6300000e+01 1.0090000e+02]
 [2.8020000e+02 1.0100000e+01 2.1400000e+01]
 [1.8790000e+02 1.7200000e+01 1.7900000e+01]
 [2.3820000e+02 3.4300000e+01 5.3000000e+00]
 [1.3790000e+02 4.6400000e+01 5.9000000e+01]
 [2.5000000e+01 1.1000000e+01 2.9700000e+01]
 [9.0400000e+01 3.0000000e-01 2.3200000e+01]
 [1.3100000e+01 4.0000000e-01 2.5600000e+01]
 [2.5540000e+02 2.6900000e+01 5.5000000e+00]
 [2.2580000e+02 8.2000000e+00 5.6500000e+01]
 [2.4170000e+02 3.8000000e+01 2.3200000e+01]
 [1.7570000e+02 1.5400000e+01 2.4000000e+00]
 [2.0960000e+02 2.0600000e+01 1.0700000e+01]
 [7.8200000e+01 4.6800000e+01 3.4500000e+01]
 [7.5100000e+01 3.5000000e+01 5.2700000e+01]
 [1.3920000e+02 1.4300000e+01 2.5600000e+01]
 [7.6400000e+01 8.0000000e-01 1.4800000e+01]
 [1.2570000e+02 3.6900000e+01 7.9200000e+01]
 [1.9400000e+01 1.6000000e+01 2.2300000e+01]
 [1.4130000e+02 2.6800000e+01 4.6200000e+01]
 [1.8800000e+01 2.1700000e+01 5.0400000e+01]
 [2.2400000e+02 2.4000000e+00 1.5600000e+01]
 [1.2310000e+02 3.4600000e+01 1.2400000e+01]
 [2.2950000e+02 3.2300000e+01 7.4200000e+01]
 [8.7200000e+01 1.1800000e+01 2.5900000e+01]
 [7.8000000e+00 3.8900000e+01 5.0600000e+01]
 [8.0200000e+01 1.0355999e-14 9.2000000e+00]
 [2.2030000e+02 4.9000000e+01 3.2000000e+00]
 [5.9600000e+01 1.2000000e+01 4.3100000e+01]
 [7.0000000e-01 3.9600000e+01 8.7000000e+00]
 [2.6520000e+02 2.9000000e+00 4.3000000e+01]
 [8.4000000e+00 2.7200000e+01 2.1000000e+00]
 [2.1980000e+02 3.3500000e+01 4.5100000e+01]
 [3.6900000e+01 3.8600000e+01 6.5600000e+01]
 [4.8300000e+01 4.7000000e+01 8.5000000e+00]
 [2.5600000e+01 3.9000000e+01 9.3000000e+00]
 [2.7370000e+02 2.8900000e+01 5.9700000e+01]
 [4.3000000e+01 2.5900000e+01 2.0500000e+01]
 [1.8490000e+02 4.3900000e+01 1.7000000e+00]
 [7.3400000e+01 1.7000000e+01 1.2900000e+01]
 [1.9370000e+02 3.5400000e+01 7.5600000e+01]
 [2.2050000e+02 3.3200000e+01 3.7900000e+01]
 [1.0460000e+02 5.7000000e+00 3.4400000e+01]
 [9.6200000e+01 1.4800000e+01 3.8900000e+01]
 [1.4030000e+02 1.9000000e+00 9.0000000e+00]
 [2.4010000e+02 7.3000000e+00 8.7000000e+00]
 [2.4320000e+02 4.9000000e+01 4.4300000e+01]
 [3.8000000e+01 4.0300000e+01 1.1900000e+01]
 [4.4700000e+01 2.5800000e+01 2.0600000e+01]]

### Vincenzo's code for predicting the lower 50 company sales

In [23]:

# print("Now in the sales section!")
# print("Get CSV and create both the x and y columns")
# dataframe = pd.read_csv("./Advertising.csv")
# feature_cols = ["TV", "radio", "newspaper"]
# X = dataframe[feature_cols][:150]
# Y = dataframe.sales[:150]

# print("Generating a linear regression on the top 150 companies (first one)")
# sales_regression = LinearRegression()
# sales_regression.fit(X, Y)

# print("Printing the coefficient and y intercept of our first 150 sales")
# print(sales_regression.coef_)
# print(sales_regression.intercept_)

# print("Predicting the sales of the bottom 50 companies (last ones)")
# print(sales_regression.predict(dataframe[feature_cols][:-50]))